@{
  Layout = "_Layout";
}
<div class="col-sm-3">

</div>

<div id="new-user-form" class="col-sm-6">
  <h4 class="headerHighlight">Create an Account:</h4>
  <hr>
  h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <input type="submit" value="Register" />
}
</div>

<div class="col-sm-3">

</div>
