@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BasicAuthentication.ViewModels

@model RegisterViewModel

<div class="col-sm-3">

</div>
<div class="col-sm-6">
<div class="columnStyling">

<h2 class="headerHighlight">Register an Account</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <input type="submit" class="btn btn-info" value="Register" />
}
</div>
</div>

<div class="col-sm-3">

</div>
