@{
  Layout = "_Layout";
}

<div class="col-sm-3">

</div>

<div id="offer-form" class="col-sm-6">
  <h4 class="headerHighlight">Details for @ViewBag.Dictionary["thisGame"].GetTitle()</h4>
  <hr>
  <img src="@ViewBag.Dictionary["thisST"].GetGamePhoto()">
  <h5>Platform: @ViewBag.Dictionary["thisGame"].GetPlatform()</h5>
  <h6>About: @ViewBag.Dictionary["thisGame"].GetDescription()</h6>
  <h6>Metacritic Score: @ViewBag.Dictionary["thisGame"].GetMetaScore()</h6>
  <br>
  <h6>Trade Status: @ViewBag.Dictionary["thisST"].GetStatus()</h6>
  <h6>Put up for Trade on: @ViewBag.Dictionary["thisST"].GetDate()</h6>
  <hr>
  <a href="#">Make An Offer</a>
</div>

<div class="col-sm-3">

</div>
