@{
  Layout = "_Layout";
}

<div class="col-sm-3">

</div>

<div id="offer-form" class="col-sm-6">
  <h4 class="headerHighlight">@Model["thisGame"].GetTitle()</h4>
  <hr>
  <img src="@Model["thisST"].GetGamePhoto()">
  <h5>Platform: @Model["thisGame"].GetPlatform()</h5>
  <h6>About: @Model["thisGame"].GetDescription()</h6>
  <h6>Metacritic Score: @Model["thisGame"].GetMetaScore()</h6>
  <br>
  <h6>Trade Status: @Model["thisST"].GetStatus()</h6>
  <h6>Put up for Trade on: @Model["thisST"].GetDate()</h6>
  <hr>
  <a href="#">Make An Offer</a>
</div>

<div class="col-sm-3">

</div>
