@{
  Layout = "_Layout";
}
<div id="filter-by-tag-column" class="col-sm-3">
  <h4 class="headerHighlight">Filter by Tag:</h4>
  <form class="" action="index.html" method="post">
    <div class="checkbox">
      <label><input type="checkbox" value="">Action</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Family</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">First Person Shooter</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">MMO</label>
      <div class="checkbox">
        <label><input type="checkbox" value="">MOBA</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Puzzle</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Role-Playing Game</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Racing</label>
      </div>
    </div>
  </form>
</div>


<div id="games-for-trade-column" class="col-sm-8">
  <h4 class="headerHighlight">Games up For Trade:</h4>
  @if (@ViewBag.Dictionary != null)
  {
    foreach(var game in @ViewBag.Dictionary["allGames"])
    {
    <img src="@game.GetPhotoPath()" >
    <br>
    <h5><a href="#">@game.GetTitle()</a></h5>  
    <p>@game.GetPlatform()</p>
    <hr>
    }

    foreach(var sellTransaction in @ViewBag.Dictionary["allSellTransactions"])
    {
      <img src="@sellTransaction.Find(@sellTransaction.GetId()).GetGamePhoto()">
      <a href="/search/details/@ViewBag.Dictionary["allGames"].Find(@sellTransaction.GetId())">@ViewBag.Dictionary["allGames"].Find(@sellTransaction.GetGameId()).GetTitle()</a>
      <p>@ViewBag.Dictionary["allGames"].Find(sellTransaction.GetGameId()).GetPlatform()</p>
      <hr>
    }
  }
  else
  {
    <h4>There are currently no Games up for Trade.</h4>
  }


</div>
