@{
  Layout = "_Layout";
}
<div id="filter-by-tag-column" class="col-sm-3">
  <h4 class="headerHighlight">Filter by Tag:</h4>
  <form class="" action="index.html" method="post">
    <div class="checkbox">
      <label><input type="checkbox" value="">Action</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Family</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">First Person Shooter</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">MMO</label>
      <div class="checkbox">
        <label><input type="checkbox" value="">MOBA</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Puzzle</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Role-Playing Game</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Racing</label>
      </div>
    </div>
  </form>
</div>


<div id="games-for-trade-column" class="col-sm-8">
  <h4 class="headerHighlight">Games up For Trade:</h4>
  @if (Model != null)
  {
    foreach(Sell_Transaction sellTransaction in Model)
    {
      <img src="@Game.Find(@sellTransaction.GetGameId()).GetPhotoPath()">
      <a href="/search/details/@Game.Find(@sellTransaction.GetId())">@Game.Find(@sellTransaction.GetGameId()).GetTitle()</a>
      <p>@Game.Find(@sellTransaction.GetGameId()).GetPlatform()</p>
      <hr>
    }
  }
  else
  {
    <h4>There are currently no Games up for Trade.</h4>
  }


</div>
